header {
  margin: 15px;
  padding: 15px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.timer,
.score,
.question-no {
  padding: 20px;
  font-size: larger;
  font-weight: bolder;
  color: rgb(157, 180, 222);
  border: 5px solid rgb(183, 204, 218);
  border-radius: 50px;
}
.score {
  border: none;
}
.question {
  border: 5px solid rgb(169, 205, 233);
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
}

.next {
  text-align: center;
  /* width: 25%; */
}
.question div {
  /* width: fit-content; */
  margin: 30px;
  /* margin-bottom: 30px; */
}
.answers {
  display: grid;
  width: 100%;

  /* padding: 10px; */
  grid-template-columns: repeat(2, 25%); /* Create a 2x2 grid */
  gap: 10%; /* Adjust the gap between buttons */
  text-align: center; /* Center the buttons within each grid cell */
  justify-content: center; /* align buttons center */
}

button {
  border: 2px solid rgb(163, 205, 239);
  letter-spacing: 1px;
  font-size: larger;
  /* width: 25%; */
  border-radius: 25px;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}

.selected {
  background-color: #78d4d8; /* Change this to your desired color */
  color: #e7dede; /* Text color for selected button */
}
.ques {
  color: rgb(11, 63, 63);
  font-size: larger;
}
/* change button color on hover */
button:hover {
  color: rgb(77, 162, 232);
}

/* manually setting question no position */
.question-no {
  position: absolute;
  top: 65px;
  background-color: rgb(255, 255, 255);
}
